body {
  color: #5c5b5c;
  font-family: 'Avenir Next', sans-serif; // Avenir Next
  font-size: 14px;
  margin: 0;
}

header {
  background: #3e3e3e;
  color: #fff;
}

h1 {
  font-family: 'Avenir Black', sans-serif; // Avenir Black
  font-size: 36px;
  margin: 0;
  text-transform: uppercase;
}

button {
  font-weight: bold;

  &.inactive {
    color: #c7c7c7;
  }
}

.list-item {
  color: #000;
  font-family: Arial, sans-serif;  

  .item-heading {
    font-size: 24px;
  }
  
  .item-subheading {
    color: #cacaca;
    font-size: 14px;
  }

  .item-description {
    font-size: 12px;
  }
}

.view-state {
  display: none;

  &.active {
    display: block;
  }
}