.search-state {
  &.view-state {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }

  .search-input {
    margin-right: 34px;
    min-width: calc(100% - 34px); // full-width minus margin
  }
}