.search-state {
  form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 192px;
    grid-template-columns: 1fr 192px;
  }

  .search-button {
    -ms-grid-column-align: end; // align button to left in IE10/11
  }

  .search-input {
    margin-right: 34px;
    min-width: calc(100% - 34px); // full-width minus margin
  }
}

.results-message {
  margin: 28px 0 0;
}