// General
$app-width: 1368px;

// Colors
$color-darker: #333333;
$color-dark: #6C6C6C;
$color-base: #999999;
$color-light: #C4C4C4;
$color-lighter: #F8F8F8;

$color-accent: #2993FC;

// Borders
$border-color: $color-base;
$text-color: $color-darker;